<div class="card bg-light">
  <a href="/">
    <img class="card-img-top mx-auto" src="/{{ site.profile_path }}" alt="" style="width:50%; border-radius: 50%; transform: translateX(50%);">
  </a>
  <div class="card-body">
    <h5 class="card-title"> {{ site.data.navbar.title }}</h5>
    <p class="card-text font-weight-bold"> {{ site.data.navbar.subtitle }}</p>
    <p class="card-text"> {{ site.data.navbar.description }}</p>
    <div class="nav flex-column nav-pills" id="navBarTab" role="tablist" aria-orientation="vertical">
      {% for content in site.data.navbar.contents %}
      <a id="{{ content.id }}" class="nav-link mb-2 border border-info text-center" href="{{ content.href }}" role="tab"> {{ content.title }} </a>
      {% endfor %}
    </div>
  </div>
</div>


<script>
  $('#navBarTab a').on('click', function (e) {
    $(this).tab('show')
  })

  let path = window.location.pathname.replace(/\//g, '');
  if(path && $("#" + path).length > 0) {
    $("#" + path).addClass('active');
  }
</script>
