<div class="card border-0 vscode-sidebar">
  <h4 class="card-title text-center"> {{ site.data.navbar.title }}</h4>
  <a href="/">
    <img class="card-img-top mx-auto" src="/{{ site.profile_path }}" alt="">
  </a>
  <div class="card-body">
    <p class="card-text font-weight-bold nav-link"> {{ site.data.navbar.subtitle }}</p>
    <p class="card-text nav-link"> {{ site.data.navbar.description }}</p>
    <p class="card-text nav-link">
      {%- if site.github_username -%}<a href="https://github.com/{{ site.github_username| cgi_escape | escape }}"> <i class="bi-github" role="img"></i> <span>{{ site.github_username| escape }}</span></a>{%- endif -%}
    </p>
    <p class="card-text nav-link">
      {%- if site.linkedin_username -%}<a href="httpsr//www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}"> <i class="bi-linkedin" role="img"></i> <span class="username">{{ site.linkedin_username| escape }}</span></a>{%- endif -%}
    </p>
    <!-- <div class="nav flex-column nav-pills" id="navBarTab" role="tablist" aria-orientation="vertical">
    </div> -->
    {% for content in site.data.navbar.contents %}
      <p class="card-text "></p>
        <a id="{{ content.id }}" class="navbar-link nav-link" href="{{ content.href }}" role="tab"> {{ content.title }} </a>
      </p>
    {% endfor %}
  </div>
</div>
