---
layout: home
title: Posts
permalink: /posts/
date: 2021-06-21
---

<div class="row">
  {% for post in site.posts %}
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="post-card">
        {% if post.image %}
        <img class="post-card-img" src="{{ post.image }}" alt="{{ post.title | escape }}">
        {% endif %}
        <div class="post-card-body">
          <a class="post-card-title" href="{{ post.url }}" target="_blank">
            {{ post.title | escape }}
          </a>
          <div class="post-card-cats">
            {% for cat in post.categories %}
              <span class="cat-badge">#{{ cat }}</span>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
