---
---

@import './bootstrap/bootstrap.scss';
@import './bootstrap-icons/bootstrap-icons.css';

div.wrapper {max-width:100%;}

body {
  font-size: 18px;
}

@media (min-width: 768px) {
  .zoom {
    transition: transform .2s; /* Animation */
  }
  .zoom:hover {
    transform: scale(2.0); /* (150% zoom)*/
    z-index: 9999;
    // position: absolute;
    top: 50%;
    // left: 50%;
  }
}
